<body>
        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
       
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        
                        <div class="form-inline">
                           
                        </div>

                        <div class="dropdown for-notification">
                          
                         <img src="assets/images/rms-logo.gif" style="height: 90px;">
                        </div>

                        <div class="dropdown for-message">
                         
                          <div class="dropdown-menu" aria-labelledby="message">
                           
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                   

                   

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-xl-12" style="background: #f7d6bf;">
                
				<div class="page-header float-left col-xl-12" style="background: #f7d6bf;">
                    <div class="page-title">
                        <h1>Application Form for Admission to RMS at Chail, Ajmer, Belgaum, Bangalore & Dholpur for Academic Session 2019-2020</h1>
                    </div>
                </div>
				
            </div>
 
        </div>

        <div class="content mt-3">
		
		 <div class="col-sm-12">
       <div class="alert  alert-success alert-dismissible fade show" role="alert">
                  <i class="fa fa-warning" style="font-size:24px;color:green"></i> &nbsp; <span class="badge badge-pill badge-success">Success</span> Your Admission form has been submitted successfully. Your Reference number is <strong>#12340</strong>. Please use this reference number for further communication with RMS related to your admission form. 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
			
            <div class="animated fadeIn">
                <div class="row">
                  <div class="col-lg-9">
                    <div class="card">
                                           <div class="card-body card-block">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal validate-form">
                         
						 <div class="container">
	<div class="main">
        
</div>
</div>

                        </form>
												
                      </div>
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary" onclick="window.location='https://drive.google.com/open?id=16nlkRO-uV2JJbvzkbA1BLJX5DvYAxLlx'">
                          
                            <i class="fa fa-dot-circle-o"></i> Download
                        </button>
                      </div>
                    </div>
					
					
                    
                  </div>

                  
                   
                 
                    
                    
                    
                  </div>
                  
                </div>


            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->
    
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
   </body>