 <aside id="left-panel" class="left-panel">
       
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        
                        <div class="form-inline">
                           
                        </div>

                        <div class="dropdown for-notification">
                          
                         <img src="assets/images/rms-logo.gif" style="height: 90px;">
                        </div>

                        <div class="dropdown for-message">
                         
                          <div class="dropdown-menu" aria-labelledby="message">
                           
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                   

                   

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-xl-12" style="background: #f7d6bf;">
                
				<div class="page-header float-left col-xl-12" style="background: #f7d6bf;">
                    <div class="page-title">
                        <h1>Application Form for Admission to RMS at Chail, Ajmer, Belgaum, Bangalore & Dholpur for Academic Session 2019-2020</h1>
                    </div>
                </div>
				
            </div>
 
        </div>

        <div class="content mt-3">
		
		 <div class="col-sm-12">
       <div class="alert  alert-success alert-dismissible fade show" role="alert">
                  <i class="fa fa-warning" style="font-size:24px;color:green"></i> &nbsp; <span class="badge badge-pill badge-success">Success</span> Your Admission form has been submitted successfully. Your Reference number is <strong>#12340</strong>. Please use this reference number for further communication with RMS related to your admission form. 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
			
            <div class="animated fadeIn">
                <div class="row">
                  <div class="col-lg-9">
                    <div class="card">
                      <div class="card-header" style="background: #f7d6bf;">
                        <strong>Payment Step</strong> -Please select the payment method from below and press Continue button. If you wish to make the payment later, please click Pay later. Login to your account to make the payment before the last date of Admission form submission to complete the admission process.  
                      </div>
                      <br>
                      <br>
                      <div class='pm-button'><a href='https://www.payumoney.com/paybypayumoney/#/7255C26C8844835F66BF9CA604E63F64'><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/21.png' /></a></div> 
                      <!-- <div class="card-footer">
                        <a href="Payment-Detail-Page.html"><button type="submit" class="btn btn-primary">
                          <i class="fa fa-dot-circle-o"></i> Continue
                        </button></a>
                        <button type="reset" class="btn btn-danger">
                          <i class="fa fa-ban"></i> Pay Later
                        </button>
                      </div> -->
                    </div>
					
					
                    
                  </div>

                  <div class="col-lg-3">
                   
                      <div class="card-header" style="background: red;">
                        <strong>Important Instructions</strong>
                      </div>
                      <div class="alert alert-success" >
                      
                                            <h5 class="alert-heading">Read the Instructions carefully to complete the Admission form submission process:</h5>
                                            
											<ol>
											<li>You can make the payments</li>
											<li>Mention All Three different Examination Centre choices. </li>
											<li>Write complete Postal Address alongwith Parent's / Guardian's name. </li>
											<li>Please upload recent photograph of self and your signature. Form with Incorrect details / unrecognizable self photo or signature photo shall be rejected without intimation.</li>
											<li>Please upload clearly visible scan copies of documents. Form with unclear scanned copies/pictures shall be rejected without intimation. </li>
											<li>Application form will become inactive after the last date of submission of the Application.</li>
											<li>Duplicate / Multiple Application Forms submission by a Candidate will be rejected without intimation. </li>
											<li>Duplicate / Multiple Application Forms submission by a Candidate will be rejected without intimation. </li>
										    <li>The Examination will be held on 17 DEC 2018 (Sunday). </li>	
                      </ol>
											
                       
                                        
                      </div>
                   
                 
                    
                    
                    
                  </div>

                
                 
                 

                 



                 

                 

                 

                  
                </div>


            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->
