
    <div id="right-panel" class="right-panel">

      <!-- Header-->
      <header id="header" class="header">

          <div class="header-menu">

              <div class="col-sm-7">
                  
                  <div class="header-left">
                      
                      <div class="form-inline">
                         
                      </div>

                      <div class="dropdown for-notification">
                         <img src="./assets/images/rms-logo.gif" style="height: 90px;">
                        
                      </div>

                      <div class="dropdown for-message">
                       
                        <div class="dropdown-menu" aria-labelledby="message">
                         
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-sm-5">
                 

                 

              </div>
          </div>

      </header><!-- /header --><!-- /header -->
      <!-- Header-->

    

      <div class="content mt-3">
          <div class="animated fadeIn">
    
    <div class="breadcrumbs">
          <div class="col-sm-4">
              <div class="page-header float-left">
                  <div class="page-title">
                      <h1>Dashboard</h1>
          
                  </div>
              </div>
          </div>
          
      </div>

                  <div class="row">
                      
                      <div class="col-lg-6">
                          <div class="card">
                              <div class="card-header">
                                  <h4>Apply Online</h4>
                              </div>
                              <div class="card-body">
                                 
                                  
                                
                                     
                                          <h4 class="alert-heading"></h4>
                                          <p>A student can apply for the CET examination online where they can fill the details and pay the examination fees online as well. </p>
          
                    <h5> Following information will need to be submitted </h5>
                                          <p class="mb-0"><strong>Category 1 - JCOs & OR (General/OBC) :</strong> Serving or Retired JCOs and OR of
Army or equivalent in Air Force / Navy who do not belong to SC / ST category
shall apply in this category.<br>
<strong>2 :</strong> Serving or Retired JCOs and OR of Army or equivalent
in Air Force / Navy who belong to SC category shall apply in this category.<br>
<strong>3 :</strong> Serving or Retired JCOs and OR of Army or equivalent
in Air Force / Navy who belong to ST category shall apply in this category.<br>
<strong>4 :</strong> Sons of War Widows are eligible under this category.<br>
<strong>5 :</strong> All wards of Civilians/Officers who
do not belong to SC / ST category shall apply under this category.<br>
<strong>6 :</strong> All wards of Civilians/Officers who belong to SC
category shall apply under this category.<br>
<strong>7 :</strong> All wards of Civilians/Officers who belong to ST
category shall apply under this category.

</p>
                                      
                   
                                          <hr>
                    <p>* All disputes subject to Delhi jurisdiction. </p>
                                   

                                     
                                      
                             
                          
                              </div>
               <div class="card-footer">
                      <button type="submit" [routerLink]="['/Online']" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Apply Online Now
                      </button>
                     
                    </div>
                          </div>
                          <!-- /# card -->
                      </div>
                      <!-- /# column -->
              <div class="col-lg-6">
                          <div class="card">
                              <div class="card-header">
                                  <h4>Apply Offline</h4>
                              </div>
                              <div class="card-body">
                                 
                                  
                                
                                     
                                          <h4 class="alert-heading"></h4>
                                          <p>A student not looking to appliy for CET exam online, can download the colored application document and submit the filled document along with the DD of the examination fees.</p>
          
                    <h5> Important instructions: </h5>
                                          <p class="mb-0"><strong>1 :</strong> Download the document after filling up the form .<br>
<strong>2 :</strong> Verify your mobile number to complete the application download process. A form number will be generated for you to mention on the form.<br>
<strong>3 :</strong> Take a coloured print out of the application form and fill in all the details including mentioning the form number provided in above step.<br>
<strong>4 :</strong> Sons of War Widows are eligible under this category.<br>
<strong>5 :</strong> All wards of Civilians/Officers who
do not belong to SC / ST category shall apply under this category.<br>
<strong>6 :</strong> All wards of Civilians/Officers who belong to SC
category shall apply under this category.<br>
<strong>7 :</strong> All wards of Civilians/Officers who belong to ST
category shall apply under this category.

</p>
                                      
                   
                                          <hr>
                    <p>* All disputes subject to Delhi jurisdiction. </p>
                                   

                                     
                                      
                             
                          
                              </div>
               <div class="card-footer">
                      <button type="submit" [routerLink]="['/Ofline']" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Download Application Form
                      </button>
                     
                    </div>
                          </div>
                          <!-- /# card -->
                      </div>
                      <!-- /# column -->
                  </div>
                  <!-- /# row -->




          </div><!-- .animated -->
      </div><!-- .content -->


  </div><!-- /#right-panel -->

 